@import "tailwindcss";

@theme {
  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  background-color: #F8F9FA;
  color: #1F2937;
}

@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
  
  /* Ensure background images don't cover content during print flattening */
  .print-bg-fix {
    z-index: -1 !important;
  }
}
